{% extends "layout.html"%}
{% block body %}
	{% if session.logged_in %}
	<div class=navigation> <li> <a href= "{{ url_for('modify_title', wolfloc=film.wolfloc) }}"> Modify Title </a></li></div>
	{% endif %}
  <h2> {{film.title}}</h2>
  <img src="{{url_for('static', filename='images/{0}.jpg'.format(film.wolfloc))}}" alt="{0}".format(film.title) width=150>
 {# <img src="{{ film.img }}" alt="{0}".format({{ film.title}})>  #}
  <ul class=entries>
  <li> Director: {{ film.director }} </li>
  <li> Wolfson Location: {{ film.wolfloc }}  </li>
	{% if film.url %}
 	<li> <a href={{ film.url }}> IMDB Entry </a></li>
	{% endif %}
  </ul>
	<h3> Summary </h3>
	<p> {{ film.plot }} </p>
{% endblock %}
