{% extends "layout.html"%}
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

{% block body %}
  <h2> Modify Film</h2>
  <ul class=entries>
	<h3> IMDb Search Results </h3>
	{% for film in films %}
 	<li><a href={{ film.url }}> {{film.title}} </a> IMDB ID: {{film.imdbid}} </li>
 	<li> {{ film.plot }} </li>
	{% endfor %}
  </ul>
	<h3> Modify Film Data </h3>
	<form id="my-form" role="form">
		<input id="imdbid" class="form-control" type="text" placeholder="IMDB movie ID">
		<br>
		<button type="submit" id="btn-click" class="btn btn-primary btn-md"> Update ID </button>
	</form>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
