{% extends "layout.html"%}
{% block body %}
  <h2> Modify Film</h2>
  <ul class=entries>
	<h3> IMDb Search Results </h3>
	{% for film in films %}
 	<li><a href={{ film.url }}> {{film.title}} </a> IMDB ID: {{film.imdbid}} </li>
 	<li> {{ film.plot }} </li>
	{% endfor %}
  </ul>
	<h3> Modify Film Data </h3>
  <div class="container">
	<form id="my-form" role="form">
	<input id="imdbid" class="form-control" type="text" placeholder="IMDB movie ID">
  <br>
	</form>
	<button type="submit" id="btn-click" class="btn btn-primary btn-md"> Update ID </button>
	</div>
	<script "text/javascript">
		console.log("SANITY");
	  var $SCRIPT_ROOT = '/';
		var $WOLFLOC     = '{{wolfloc}}';
		console.log($SCRIPT_ROOT);
		console.log($WOLFLOC);
	</script>
	<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
