{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
{#  <form action="{{ url_for('show_movies') }}" method="GET">
    <input type="submit" name="sort" value="wolfloc" />
    <input type="submit" name="sort" value="title"   />
  </form> #}

  <a href='?sort=wolfloc'>Sort by ID</a>
  <a href='?sort=title'>Sort by title</a>

  {% for title in titles %}
    <li>{{title.wolfloc}}<em><a href={{ url_for('show_spec_movie', wolfloc=title.wolfloc)}}> {{title.title}} </a></em>{{title.director}}</li>
  {% endfor%}
  </ul>
{% endblock %}
